*{
    padding: 0;
    margin: 0;
}
.hero{
  height: 100vh;
  width: 100%0;
  background-image: url(Images/background.png);
  background-position: center;
  background-size: cover;
  position: relative;
  background-color: rgba(83, 83, 83, 0.1);
}
.logo{
    width: 250px;
    height: 100px;
    position: absolute;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    top: 0;
}
.logo img{
    width: 150px;
}
.sidebar{
    width: 250px;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
}
.text-box{
    transform:rotate(-90deg);
    position: absolute;
    top: 45%;
    text-align: center;
}
.text-box h1{
    font-size: 28px;
    font-weight: 100;
}
.text-box h4{
    margin: 7px 0 1opx;
    padding-top: 10px;
}
.line{
    width: 80px;
    height: 1px;
    background-color: #000;
    margin:auto;
    
}
.content{
color: #FFF;
position: absolute;
right:150px ;
top:50% ;
transform: translateY(-50%);
}
.content h1{
  font-size: 60px;
}
.content p{
margin: 10px 0 40px;
font-size: 30px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    padding: 10px 0 ;
    background: #fff;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}
.btn img {
    width: 30px;
    margin-right: 15px;
}
#backvideo{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
@media (min-aspect-ratio: 16/9){
    #backvideo{
        width: 100%;
        height: auto;
    }

}
@media (max-aspect-ratio: 16/9){
    #backvideo{
        width: auto;
        height: 100%;
    }

}